
.leftColumn {
    color: #FFFFFF;
    background-color: #FF0022;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.leftColumn-button {
    background-color: white;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    
}

.leftColumn-button:hover {
    background-color: white;
    color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    
}

.Module {
    background-color: #d44545;
    height: 800px;
    margin-bottom: -50px;
    width: auto;
}

.titleHeadModuleGreen {
    color: #c1fc1a;
    margin-left: 30px;
}
.titleHeadModuleRed {
    color: #f4523e;
    margin-left: 20px;
}
.titleHeadModuleBlack {
    color: #394034;
    margin-left: 30px;
}

.titleHeadModulePink {
    color: #e21b9c;
    margin-left: 5px;
}

.headModule {
    background-color: #bcbcbc;
    width: auto;
    height: 180px;
}

.menu {
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #d44545;
    width: 230;
    height: 141;
    
}


.lienMenu {
    color: white;
    font-size: 22px;

    
}

.lienMenu:hover {
    color:#d44545;
    font-size: 22px;
}
