/* Fichier CSS du module et de son Hook */
/* Création : Coonax */ 
/* Github : https://github.com/Coonax */
/* Site Internet : http://www.Coonax.fr */

.leftColumn {
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.leftColumn-button {
    background-color: white;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px; 
}

.leftColumn-button:hover {
    background-color: white;
    color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

.Module {
    background-color: #C0C0C0;
    margin-bottom: -50px;
    height: auto;
    width: auto;
}

.headModule {
    background-color: #bcbcbc;
    width: auto;
    height: auto;
    padding-bottom: 10px;
}

.menu {
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #d44545;
}

.sousMenu{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background-color: #FF3232;
}

.lienMenu {
    color: white;
    font-size: 22px;
}

.lienMenu:hover {
    color:#d44545;
    font-size: 22px;
}

.bodyModule {
	margin-top: -30px;
    padding-bottom: 30px;
	max-height: auto;
    background-color: #FFF33F;
}

h1.titre {
	font-size: 200%;
	color : white;
	font-weight: bold; 
	font-family: Fixed, monospace ;
}

h1.sous-titre {
	font-size: 150%;
	color: black;
	font-weight: bold;
	font-family: Fixed, monospace;
}
